$text-primary:      #7f7f7f;
$text-secondary:    #bfbfbf;
$border-primary:    #d9d9d9;
$heading-primary:   #694841;
$overlay-primary:   #98795c;
$dashboard-primary: #c0b18a;
$nav-primary:       #748738;
$icon-primary:      #b1be6c;
$error-primary:     #f00;

$font-sans-serif: 'Barlow Condensed', sans-serif;

$width-small:   501px;
$width-medium:  769px;
$width-large:  1101px;